
.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}


@media (min-width: 768px) {
    .main.active {
        margin-left: 0px;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .md\:ml-64 {
        margin-left: 16rem;
    }

    .md\:hidden {
        display: none;
    }

    .md\:w-\[calc\(100\%-256px\)\] {
        width: calc(100% - 256px);
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .lg\:col-span-2 {
        grid-column: span 2 / span 2;
    }

    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
